a.navbar-active{
  background-color: #660000;
}

body,.center,img.center,.navbar, .navbar-fixed-top,ul{
  margin: 0 auto;
  margin: 0 auto; 
}

body { 
  font-family: sans-serif;
  background-color: #060606;
  margin: 0 10%;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 95%; 
  color: #BBBBBB;
}

.container2{
  padding: 5px;
  background-color: #222222;
  border: 2px solid #770000;
  width: 98%;
}

.footer-bar{
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #777777 0%, #000000 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #777777 0%, #000000 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, #777777 0%, #000000 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #777777), color-stop(1, #000000));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #777777 0%, #000000 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #777777 0%, #000000 100%);
  text-align: center;
}

h1,li.navbar{
  background-color: #331100;
}

h1, h2, ul.navbar{
  text-align: center;
}

h1 { 
  font-size: 150%; 
}

h2 { 
  font-size: 110%; 
  color: #CC0000;
}

.header-bar{
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #000000 0%, #777777 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #000000 0%, #777777 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, #000000 0%, #777777 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #777777));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #000000 0%, #777777 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #000000 0%, #777777 100%);
  color: #EEEEEE;
}

img.center{
  display: block;
}

li.nav-header, a.navbar:link,a.navbar:visited{
  color: #EEEEEE;
}

li.navbar,li.navbar-active{
  display: inline-block;
}

li.nav-header,a.navbar-active{
  color: #EEEEEE;
}

.navbar .brand, .navbar .nav > li > a{
  color: #EEEEEE;
}
.navbar .brand:hover, .navbar .nav > li > a:hover{
  color: #EEEEEE;
  background-color: #770000;
}

.navbar:hover,.navbar:active{
  background-color: #770000;
}

.nav > li > a:hover{
  color: #EEEEEE;
  background-color: #ff0000;
}

.sidebar-nav {
  padding: 0;
}

table{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

table, tr{
  padding: 2px;
}

tr, td{
  background: #111111;
  border: 1px solid #999999;
}

ul {
   list-style-position: inside;
}

.well{
  background-color: #060606;
  border:#771100 solid 2px;
  -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
        border-radius: 0px;
  text-align: center;
}
