body{ 
  background-color: #111111;
  margin-left:5em;
  margin-right:5em;
  font-size: 95%; 
  color: #BBBBBB;
}
h1 { 
  text-align:center;
  font-size: 150%; 
  color: #CC0000;
}
h2 { 
  text-align:center;
  font-size: 110%; 
  color: #CC0000;
}
